body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.square{
    width: 80px;
    height: 80px;
    border: none;
    background-color: #787C7E;
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.result{
    text-align: center;
    font-size: 36px;
}

.button{
    width: 170px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: #6AAA64;
    font-size: 32px;
    color: #FFF;
    cursor: pointer;
}

.button:hover{
    border: 3px solid #6AAA64;
    background-color: #FFF;
    color: #6AAA64;
}

.gray{
    background-color: #787C7E;
}

.gold{
    background-color: #C9B45B;
}

.green{
    background-color: #6AAA64;
}

.explanation-game{
    margin-top: 100px;
    width: 700px;
    border: 1px solid black;
}

.explanation-subtitle{
    margin-left: 20px;
    font-size: 1.6rem;
}

.explanation-game p{
    margin-left: 20px;
    font-size: 1.2rem;
}

.explanation-gris{
    background-color: #787C7E;
    padding: 5px;
    line-height: 2;
}

.explanation-amarillo{
    background-color: #C9B45B;
    padding: 5px;
    line-height: 2;
}

.explanation-verde{
    background-color: #6AAA64;
    padding: 5px;
    line-height: 2;
}